* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body, html {
  width: 100%;
  height: 100%;
}

#box {
  width: 100%;
  height: 100%;
}

#box .top {
  width: 100%;
  height: 50px;
  background: #6edb53;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  color: #fff;
}

#box .top span:nth-child(2) {
  font-size: 20px;
}

#box .swiper-container {
  width: 100%;
  height: 200px;
}

#box .swiper-container .swiper-wrapper {
  width: 100%;
  height: auto;
}

#box .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: auto;
}

#box .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
}

#box .bottom {
  width: 100%;
  height: auto;
}

#box .bottom dl {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #ccc;
  line-height: 100px;
}

#box .bottom dl dd {
  width: 20%;
  height: auto;
  float: left;
}

#box .bottom dl dd img {
  width: 100%;
  height: auto;
}

#box .bottom dl dt {
  float: right;
}
