*{
    margin:0;
    padding:0;
    list-style: none;
}
body,html{
    width:100%;
    height:100%;
}
#box{
    width:100%;
    height:100%;
        .top{
            width:100%;
            height:50px;
            background:rgb(110, 219, 83);
            display: flex;
            justify-content: space-between;
            line-height: 50px;
            color:#fff;
            span:nth-child(2){
                font-size:20px;
            }
        }
        .swiper-container{
            width:100%;
            height:200px;
            .swiper-wrapper{
                width:100%;
                height:auto;
                .swiper-slide{
                    width:100%;
                    height:auto;
                    img{
                        width:100%;
                        height:auto;
                    }
                }
            }
        }
    .bottom{
        width:100%;
        height:auto;
        dl{
            width:100%;
            height:100px;
            border-bottom:2px solid #ccc;
            line-height: 100px;
            dd{
                width:20%;
                height:auto;
                float:left;
                img{
                    width:100%;
                    height:auto;
                }
            }
            dt{
                float:right;
            }
        }
    }
}